@import 'normalize.scss';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

body{
    font-family: 'Lato', sans-serif;
    color:#434343;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    width: 670px;
    margin: 0 auto 100px;

    header{
        padding-bottom: 20px;
        h1{
            font-size: 36px;
        }

        a, a:visited{
            color: #06F;
        }
    }

    footer{
        font-size: 12px;
        padding-top: 20px;
        color:#A6A6A6;

        a{
            color: #A6A6A6;
        }
    }

    .collapse{
        display: none;

        &.in{
            display: block;
        }
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-duration: .35s;
            -o-transition-duration: .35s;
                transition-duration: .35s;
        -webkit-transition-property: height, visibility;
            -o-transition-property: height, visibility;
                transition-property: height, visibility;
        }

    .doc-title{
        border:1px solid #DDDDDD;
        min-height: 59px;

        &.no-border-bottom{
            border-bottom: none;
        }

        p{
            height: 59px;
            display: table;
            margin:0;
            line-height: 58px;
            
            &.method{
                float: left;
                color:#434343;
                width: 100px;
                text-align: right;
                font-size: 19px;
                font-weight: 700;
                margin-right: 20px;
            }

            &.endpoint{
                color: #434343;
                font-size: 19px;
                font-weight: 400;
            }

            a{
                color: #434343;
                text-decoration: none;
            }
        }
    }
   
    .doc-body{
        min-height: 100px;
        background: #FAFAFA;
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;

        &.with-border-top{
            border-top:1px solid #DDDDDD;
        }

        &.no-border-bottom{
            border-bottom: none;
        }

        .desc{
            min-height: 60px;
            padding: 20px 20px 20px 0;
            border-bottom: 1px solid #DDDDDD;

            &:last-child{
                border-bottom: none;
            }

            .option{
                margin-right: 20px;
                width: 100px;
                float: left;
                text-align: right;

                h4{
                    margin: 0;

                    &.title-border{
                        font-size: 14px;
                        font-weight: 400;
                        color:#4E4E4E;
                        border:1px solid #979797;
                        display: inline;
                        padding: 3px 8px;
                        border-radius: 3px;
                    }
                }
            }

            .title-border{
                margin: 10px 10px 10px 0;
                font-size: 14px;
                font-weight: 400;
                color:#4E4E4E;
                border:1px solid #979797;
                display: inline-block;
                padding: 3px 8px;
                border-radius: 3px;
            }

            .content{
                width: 523px;
                display: table;
                font-size:14px;
                color:#4E4E4E;
                font-weight: 400;

                p{
                    font-size: 14px;
                    margin:0;
                    line-height: 20px;

                    &.small-title{
                        font-size: 15px;
                        font-weight: 700;
                    }
                }

                ul.doc-args{
                    list-style-type: none;
                    margin: 16px 0 0 0;
                    padding: 0;

                    li{
                        min-height: 40px;
                        border-top: 1px solid #DDDDDD;
                        padding: 18px 0;
                        width: 100%;
                        display: table;

                        &:first-child{
                            border-top: none;
                            padding-top: 0;
                        }

                        &:last-child{
                            padding-bottom:0;
                        }

                        .param-option{
                            width: 150px;
                            float: left;
                            margin-right: 10px;
                            display: table;

                            .param-name{
                                font-weight: 700;
                            }

                            .param-type-required{
                                color:#A6A6A6;
                            }
                        }

                        .param-desc{
                            display: table;
                        }
                    }
                }

                pre {
                    background: #2B3743;
                    padding: 18px;
                    margin: 0;
                    border-radius: 3px;

                    code{
                        font-family: 'Menlo', 'Lato', sans-serif;
                        font-size: 12px;
                        font-weight: bold;
                        color:#FFFFFF;
                    }
                }
            }
        }
    }

}